# Copy to terraform.tfvars and fill in. terraform.tfvars is gitignored.

aws_region                   = "eu-west-2"
domain_name                  = "yourname.com"
create_route53_zone          = true
contact_form_recipient_email = "you@example.com"
ses_sender_email             = "you@example.com"
alarm_notification_email     = "you@example.com"
project_name                 = "portfolio"
